[submodule "backend/victor-ab"]
	path = backend/victor-ab
	url = https://github.com/HiCooper/victor-ab.git
[submodule "apps/admin"]
	path = apps/admin
	url = https://github.com/HiCooper/superab-admin.git
[submodule "apps/marketing"]
	path = apps/marketing
	url = https://github.com/HiCooper/superab-marketing
[submodule "backend/tracker-service"]
	path = backend/tracker-service
	url = git@github.com:HiCooper/tracker-service.git
[submodule "backend/tracker-admin"]
	path = backend/tracker-admin
	url = git@github.com:HiCooper/tracker-admin.git
